<html>
	<body>

	<h1>Edit Menu Item for {{restaurant.name}}, {{item.name}} </h1>

	<form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=menuID)}}", method='POST'> 
		
	<p>Name: </p>
		<input type='text' size='30' placeholder= '{{item.name}}' name='name'>
				
	<p>Price: </p>
		<input type='text' size='30' placeholder= '{{item.price}}' name='price'>

	<p>Current Description: </p> 
	<p> {{item.description}} </p>
	<p>Edit Description: </p>
		<input type='text' size='30' name='description'>

	<p>Current Item Type: </p> 
	<p> {{active_btns[0]}} </p>
	
	{% for button in buttons %}
	    {% if button in active_btns %}
	        <input type="radio" checked="checked" name="course" value="{{ button }}">{{ button }}</br>
	    {% else %}
	        <input type="radio"  name="course" value="{{ button }}">{{ button }}</br>
	    {% endif %}
	{% endfor %}
	
	
	
	</br>
	</br>
		
	<input type='Submit' value='Edit'>
	<a href="{{url_for('menuHome', restaurant_id=restaurant.id)}}">Cancel</a>
	
	</form>

	</body>

</html>