<html>
	<body>

	<h1>New Menu Item for {{restaurant.name}} </h1>

	

	<form action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}", method='POST'>
		
	<p>Name: </p>
		<input type='text' size='30' name='name'>
				
	<p>Price: </p>
		<input type='text' size='30' name='price'>

	<p>Description: </p>
		<input type='text' size='30' name='description'>

	</br>
	</br>
	<p>Item Type: </p>
	<input type="radio" name="course" value="appetizer"> Appetizer</br>
  	<input type="radio" name="course" value="entree"> Entree</br>
  	<input type="radio" name="course" value="dessert"> Dessert</br>
  	<input type="radio" name="course" value="beverage"> Beverage
	</br>
	<input type='Submit' value='Create'>
	<a href="{{url_for('menuHome', restaurant_id=restaurant.id)}}">Cancel</a>
	
	</form>

	</body>

</html>